/Code of Winning Methods/A5/raw_data
/Code of Winning Methods/A5/proc_data
/Code of Winning Methods/A5/output_data
/Code of Winning Methods/A1/2. data
/Code of Winning Methods/A1/5. models
/Code of Winning Methods/A1/4. logs
